# ===============================
# Git & VCS
# ===============================
.git
.gitignore

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# ===============================
# Virtual environments
# ===============================
.venv/
venv/
env/

# ===============================
# Local configs & secrets
# ===============================
.env
.env.*
!.env.example

# ===============================
# Data & experiments
# ===============================
data/
mlruns/
mlartifacts/
reports/

# ===============================
# Jupyter & notebooks
# ===============================
notebooks/
.ipynb_checkpoints/

# ===============================
# Tests & dev tools
# ===============================
tests/
.pytest_cache/
.coverage
htmlcov/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Documentation
# ===============================
README.md
docs/
