numpy
pandas
scikit-learn
imbalanced-learn
mlflow
dvc
dvc-s3
fastapi
uvicorn
pydantic
python-dotenv
pyyaml
joblib
xgboost
lightgbm
shap
matplotlib
seaborn

[dev]
pytest
pytest-cov
black
isort
flake8
pre-commit
mypy
codecov

[fast]
rapidfuzz
